<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Mon Application - Formulaire</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<h1>Inscription membre</h1>

 <form action = "http://127.0.0.1:8081/ajouter" method = "GET">
 Prénom: <input type = "text" name = "prenom"> <br>
 Nom: <input type = "text" name = "nom"> <br>
 Téléphone: <input type = "text" name = "telephone"> <br>
 Courriel: <input type = "text" name = "courriel"> <br>
 <input type = "submit" value = "Submit" class="bouton">
 </form>


</body>
</html>